body{
  background-color: black;
}
header{
  position: absolute;
  width: 1440px;
  height: 85px;
  left: 0px;
  top: 0px;

  background: #000000;
  box-shadow: -2px 11px 32px rgba(0, 255, 33, 0.92);
}
