body{
  background-color: black;
}
header{
  position: fixed;
  width: 100%;
  height: 5.903vw;
  background-color: black;
  border-bottom-right-radius: 2.5vw;
  border-bottom-left-radius: 2.5vw;
  box-shadow: -0.139vw 0.764vw 2.2vw rgba(0, 255, 33, 0.92);
  z-index: 6;
}
footer{
  position: absolute;
width: 99%;
height: 6.319vw;
top: 276.389vw;
border: 0.069vw solid #20EB1B;
border-radius: 2.5vw;
}
button{
  cursor: pointer;
  box-sizing: border-box;
  color: white;
  position: absolute;
  background-color: black;
  border: 1px solid #20EB1B;
  border-radius: 13.889vw;
}
input{
  background-color: black;
  border: 1px solid #20EB1B;
  border-radius: 13.889vw;
  outline:none;
}
h1{
  color: white;
  position: absolute;
  width: 70.139vw;
  height: 14.306vw;
  margin-left: 2.778vw;
  top: 10.874vw;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 6.667vw;
  line-height: 117.88%;
  letter-spacing: 0.03em;
}
h2{
  position: absolute;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 3.819vw;
  line-height: 117.88%;

  letter-spacing: 0.03em;

  background: linear-gradient(90.94deg, #00FF19 11.27%, #FF70DD 36.51%, rgba(180, 235, 255, 0.979006) 60.58%, rgba(5, 0, 255, 0.94) 85.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

}
p{
 color: white;
 font-family: 'Exo 2';
}
::selection {
    background: #16E52B;
    color: black;
   }
.logo{
  position: absolute;
  width: 12.292vw;
  height: 3.472vw;
  left: 4.306vw;
  top: 1.736vw;
}
.login{
  box-sizing: border-box;
  color: white;
  position: absolute;
  width: 12.986vw;
  height: 4.097vw;
  left: 80.556vw;
  top: 1.042vw;
  background-color: black;
  border: 1px solid #20EB1B;
  filter: drop-shadow(0px 0.139vw 0.486vw #20EB1B);
  border-radius: 13.889vw;
}
.p1{
  position: absolute;
width: 480px;
height: 48px;
left: 59px;
top: 396.59px;

font-family: 'Exo 2';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;

color: #FFFFFF;
}
.h21{
  position: absolute;
width: 1334px;
height: 153px;
left: 125px;
top: 1085px;

font-family: 'Exo 2';
font-style: normal;
font-weight: 500;
font-size: 55px;
line-height: 117.88%;

letter-spacing: 0.03em;

background: linear-gradient(90.94deg, #00FF19 11.27%, #FF70DD 36.51%, rgba(180, 235, 255, 0.979006) 60.58%, rgba(5, 0, 255, 0.94) 85.65%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.h22{
  position: absolute;
  width: 1334px;
  height: 153px;
  left: 105px;
  top: 2093px;

  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 117.88%;

  letter-spacing: 0.03em;

  background: linear-gradient(90.94deg, #00FF19 11.27%, #FF70DD 36.51%, rgba(180, 235, 255, 0.979006) 60.58%, rgba(5, 0, 255, 0.94) 85.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

}
.email{
  box-sizing: border-box;

  position: absolute;
  width: 407px;
  height: 67px;
  left: 65px;
  top: 476.59px;

  border: 1px solid #20EB1B;
  border-radius: 200px;
}
.start{
  box-sizing: border-box;

  position: absolute;
  width: 154px;
  height: 67px;
  left: 482px;
  top: 476.59px;
  border: 1px solid #20EB1B;
  border-radius: 200px;
}
.startwithoutlogin{
  box-sizing: border-box;

position: absolute;
width: 407px;
height: 67px;
left: 65px;
top: 562.59px;

border: 1px solid #20EB1B;
border-radius: 200px;
}
.brain{
  position: absolute;
  width: 49.583vw;
  height: 42.500vw;
  left: 48.333vw;
  top: 21.111vw;
}
.flex1{
  flex-direction: row;
  flex-wrap: wrap;
}
.flex2{
  position: absolute;
  flex-direction: row;
  top: 158.333vw;
}
.flex3{
  position: absolute;
  width: 1010px;
  height: 700px;
  left: 68px;
  top: 2280px;

}
.s1{
  position: absolute;
  width: 35.208vw;
  height: 34.583vw;
  left: 7.292vw;
  top: 87.153vw;
}
.s2{
  position: absolute;
  width: 35.208vw;
  height: 34.583vw;
  left: 55.208vw;
  top: 87.153vw;
}
.friends{
  position: absolute;
  height: 50vw;
  width: 46.736vw;
  left: 26.389vw;
  top: 218.194vw;

}
