@media only screen and (min-width: 1224px) {
  /* Desktop */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPad */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */

  body{
    overflow-x: hidden;
    width: 100vw;
  }
  header{
    position: fixed;
    width: 100vw;
    height: 13.333vw;
    box-shadow: -0.513vw -0.256vw 8.205vw rgba(0, 255, 33, 0.92);
    overflow-x: hidden;
  }
  footer{
    height: 11.282vw;
    width: 100vw;
    top: 573.077vw;
    border-radius: 9.231vw;
    }
    button{
      cursor: pointer;
      box-sizing: border-box;
      color: white;
      position: absolute;
      background-color: black;
      border: 0.069vw solid #20EB1B;
      border-radius: 13.889vw;
      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 300;
      font-size: 1.667vw;
      line-height: 2.014vw;
      text-decoration: none;
    }
    input{
      position: absolute;
      width: 23.077vw;
      height: 5.385vw;
      left: 52.308vw;
      top: 40vw;

      border: 0.128vw solid #20EB1B;
      border-radius: 51.282vw;

    }
    h1{
      position: absolute;
      width: 90vw;
      height: 14.359vw;
      left: 1vw;
      top: 15.641vw;

      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 9.231vw;
      line-height: 117.88%;

      letter-spacing: 0.03em;
    }
    h2{
      position: absolute;
      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 3.819vw;
      line-height: 117.88%;

      letter-spacing: 0.03em;
    }
    p{
     color: white;
     font-family: 'Exo 2';
    }
    .logo{
      position: absolute;
      width: 22.051vw;
      height: 5.897vw;
      left: 5.128vw;
      top: 5.385vw;
    }
    .logo2{
      position: absolute;
      width: 9vw;
      height: 9vw;


    }
    .login{
      box-sizing: border-box;

      position: absolute;
      width: 18.462vw;
      height: 6.154vw;
      left: 76.410vw;
      top: 4.359vw;
    }
    .aboutus{
      box-sizing: border-box;

      position: absolute;
      width: 18.462vw;
      height: 6.154vw;
      left: 57.179vw;
      top: 4.359vw;;
    }
    .p1{
      position: absolute;
      width: 35.641vw;
      height: 9.231vw;
      left: 5.128vw;
      top: 42.821vw;
      font-weight: 300;
      font-size: 2.564vw;
      line-height: 3.077vw;
      display: flex;
      align-items: center;

    }
    .p2{
      position: absolute;
      height: 13.077vw;
      width: 73.333vw;
      left: 16.154vw;
      top: 363.590vw;
      border-radius: nullpx;


      font-weight: 500;
      font-size: 3.077vw;
      line-height: 117.88%;

      letter-spacing: 0.03em;

    }
     .p3{
       position: absolute;
       height: 11.026vw;
       width: 72.308vw;
       left: 17.179vw;
       top: 399.744vw;
       border-radius: nullpx;


       font-family: 'Exo 2';
       font-weight: 500;
       font-size: 3.077vw;
       line-height: 117.88%;

      letter-spacing: 0.03em;
     }
      .p4{
        position: absolute;
        height: 12.564vw;
        width: 68vw;
        left: 16.154vw;
        top: 440.769vw;
        border-radius: nullpx;


        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 500;
        font-size: 3.077vw;
        line-height: 117.88%;

        letter-spacing: 0.03em;
      }
    .h21{
      position: absolute;
      width: 379.744vw;
      height: 8.462vw;
      left: 6.154vw;
      top: 136.410vw;

      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 4.103vw;
      line-height: 117.88%;

    letter-spacing: 0.03em;
    background: linear-gradient(89.95deg, #00FF19 -0.2%, #FF70DD 7.69%, rgba(180, 235, 255, 0.979006) 15.2%, rgba(5, 0, 255, 0.94) 23.03%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    }
    .h22{
      position: absolute;
      width: 379.744vw;
      height: 8.462vw;
      left: 5.641vw;
      top: 333.333vw;

      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 4.103vw;
      line-height: 117.88%;

      letter-spacing: 0.03em;
      background: linear-gradient(89.95deg, #00FF19 -0.2%, #FF70DD 7.69%, rgba(180, 235, 255, 0.979006) 15.2%, rgba(5, 0, 255, 0.94) 23.03%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

    }
    .h23{
      position: absolute;
      width: 342.051vw;
      height: 39.231vw;
      left: 24.103vw;
      top: 461.795vw;

      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 5.128vw;
      line-height: 117.88%;
      letter-spacing: 0.03em;
      background: linear-gradient(89.95deg, #00FF19 -0.2%, #FF70DD 7.69%, rgba(180, 235, 255, 0.979006) 15.2%, rgba(5, 0, 255, 0.94) 23.03%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

    }
  .h11{
  position: absolute;
  height: 8.205vw;
  width: 43.333vw;
  left: 27.949vw;
  top: 349.744vw;
  border-radius: undefinedpx;


  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 6.154vw;
  line-height: 117.88%;

  letter-spacing: 0.03em;
    }
    .h12{
      position: absolute;
      height: 8.974vw;
      width: 67.692vw;
      left: 24.103vw;
      top: 385.128vw;
      border-radius: nullpx;


      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 6.154vw;
      line-height: 117.88%;

      letter-spacing: 0.03em;
    }
    .h13{
      position: absolute;
      height: 23.077vw;
      width: 94.359vw;
      left: 3.333vw;
      top: 410.769vw;
      border-radius: nullpx;


      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 6.154vw;
      line-height: 117.88%;

      text-align: center;
      letter-spacing: 0.03em;
    }
    .email{
      box-sizing: border-box;

      position: absolute;
      width: 23.077vw;
      height: 5.385vw;
      left: 52.051vw;
      top: 41.795vw;

      border: 0.069vw solid #20EB1B;
      border-radius: 13.889vw;
    }
    .email2{
      box-sizing: border-box;

      position: absolute;
      width: 48.205vw;
      height: 9.487vw;
      left: 9.231vw;
      top: 558.718vw;

      border: 0.069vw solid #20EB1B;
      border-radius: 13.889vw;
    }
    .start2{
      position: absolute;
      width: 31.795vw;
      height: 9.487vw;
      left: 58.718vw;
      top: 558.718vw;
      border: 0.069vw solid #20EB1B;
      border-radius: 13.889vw;
    }
    .start{
      box-sizing: border-box;

      position: absolute;
      width: 13.333vw;
      height: 5.385vw;
      left: 75.641vw;
      top: 41.795vw;
    }
    .startwithoutlogin{
      position: absolute;
      width: 36.923vw;
      height: 5.385vw;
      left: 52.051vw;
      top: 48.462vw;

      border: 0.069vw solid #20EB1B;
      border-radius: 13.889vw;
    }
    .brain{
      position: absolute;
      width: 91.282vw;
      height: 78.974vw;
      left: 3.077vw;
      top: 51.026vw;
      z-index: 1;

    }
    .colors3{
      display: none;
      top: 210vw;
      width: 1vw;
      height: 20vw;
      left: 5vw;
    }
    .colors5{

      top: 410vw;
      width: 1vw;
      height: 20vw;
      left: 100vw;
    }
    .colors4{

      top: 400vw;
      width: 1vw;
      height: 20vw;
      left: 5vw;
    }
    .circle4 {

      position: absolute;
      display: block;

      width: 60.889vw;
      height: 60.889vw;
      border-radius: 100%;
    }
    .s1{
      position: absolute;
      width: 56.154vw;
      height: 55.897vw;
      left: 22.051vw;
      top: 146.923vw;
    }
    .s2{
      position: absolute;
      width: 56.154vw;
      height: 55.897vw;
      left: 22.051vw;
      top: 235.897vw;
    }
    .text1{
      position: absolute;
      width: 61.282vw;
      height: 25.897vw;
      left: 19.487vw;
      top: 205.128vw;

      background: #000000;
      border: 0.069vw solid #FFFFFF;
      box-shadow: 0vw 0.139vw 0.486vw #20EB1B;
      border-radius: 13.889vw;
    }
    .text2{
      position: absolute;
      width: 61.282vw;
      height: 25.897vw;
      left: 19.487vw;
      top: 294.359vw;

      background: #000000;
      border: 0.069vw solid #FFFFFF;
      box-shadow: 0vw 0.139vw 0.486vw #20EB1B;
      border-radius: 13.889vw;
    }
    .name1{
      position: absolute;
      width: 131.795vw;
      height: 24.615vw;
      top: 1vw;
      left: 1vw;
      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 8.205vw;
      line-height: 117.88%;
      letter-spacing: 0.03em;
      background: linear-gradient(89.53deg, #20EB1B 2.91%, rgba(180, 235, 255, 0.979006) 5.45%, #F9A5E5 7.88%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
    .problem{
      position: absolute;
      width: 45.385vw;
      height: 12.308vw;
      left: 1vw;
      top: 4vw;

      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 300;
      font-size: 2.564vw;
      line-height: 3.077vw;
      display: flex;
      align-items: center;
    }
    .friends{
      height: 82.821vw;
      width: 85.897vw;
      left: 6.667vw;
      top: 473.846vw;


    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone Landscape */
}
