@media only screen and (min-width: 1224px) {
  /* Desktop */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPad */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */
 *{
   overflow: hidden;
 }
  body{
    overflow-x: hidden;
  }
  header{
    position: fixed;
    width: 100vw;
    height: 13.333vw;
    box-shadow: -0.513vw -0.256vw 8.205vw rgba(0, 255, 33, 0.92);
    overflow-x: hidden;
  }
  footer{
    height: 11.282vw;
    width: 100vw;
    top: 573.077vw;
    border-radius: 9.231vw;
    }
    button{
      cursor: pointer;
      box-sizing: border-box;
      color: white;
      position: absolute;
      background-color: black;
      border: 0.069vw solid #20EB1B;
      border-radius: 13.889vw;
      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 300;
      font-size: 1.667vw;
      line-height: 2.014vw;
      text-decoration: none;
    }
    input{
      position: absolute;
      width: 23.077vw;
      height: 5.385vw;
      left: 52.308vw;
      top: 40vw;

      border: 0.128vw solid #20EB1B;
      border-radius: 51.282vw;

    }
    h1{
      position: absolute;
      width: 86.667vw;
      height: 14.359vw;
      left: 1vw;
      top: 15.641vw;

      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 9.231vw;
      line-height: 117.88%;

      letter-spacing: 0.03em;
    }
    h2{
      position: absolute;
      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 3.819vw;
      line-height: 117.88%;

      letter-spacing: 0.03em;

      background: linear-gradient(90.94deg, #00FF19 11.27%, #FF70DD 36.51%, rgba(180, 235, 255, 0.979006) 60.58%, rgba(5, 0, 255, 0.94) 85.65%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

    }
    p{
     color: white;
     font-family: 'Exo 2';
    }
    .logo{
      position: absolute;
      width: 22.051vw;
      height: 5.897vw;
      left: 5.128vw;
      top: 5.385vw;
    }
    .logo2{
      position: absolute;
      width: 9.744vw;
      height: 9.744vw;
      left: 9.744vw;
      top: 5vw;


    }
    .login{
      box-sizing: border-box;

      position: absolute;
      width: 18.462vw;
      height: 6.154vw;
      left: 76.410vw;
      top: 4.359vw;
    }
    .aboutus{
      box-sizing: border-box;

      position: absolute;
      width: 18.462vw;
      height: 6.154vw;
      left: 57.179vw;
      top: 4.359vw;;
    }
    .p1{
      position: absolute;
      width: 35.641vw;
      height: 9.231vw;
      left: 5.128vw;
      top: 42.821vw;
      font-weight: 300;
      font-size: 2.564vw;
      line-height: 3.077vw;
      display: flex;
      align-items: center;

    }
    .p2{
      position: absolute;
      width: 62.051vw;
      height: 13.077vw;
      left: 18.974vw;
      top: 364.615vw;

      font-weight: 500;
      font-size: 3.077vw;
      line-height: 117.88%;

      letter-spacing: 0.03em;

    }
     .p3{
       position: absolute;
       width: 63.846vw;
       height: 11.026vw;
       left: 18.974vw;
       top: 401.538vw;

       font-family: 'Exo 2';
       font-weight: 500;
       font-size: 3.077vw;
       line-height: 117.88%;

      letter-spacing: 0.03em;
     }
      .p4{
        position: absolute;
        width: 62.051vw;
        height: 12.564vw;
        left: 18.974vw;
        top: 441.282vw;

        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 500;
        font-size: 3.077vw;
        line-height: 117.88%;

        letter-spacing: 0.03em;
      }
    .h21{
      position: absolute;
      width: 379.744vw;
      height: 8.462vw;
      left: 6.154vw;
      top: 136.410vw;

      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 4.103vw;
      line-height: 117.88%;

    letter-spacing: 0.03em;
    }
    .h22{
      position: absolute;
      width: 379.744vw;
      height: 8.462vw;
      left: 5.641vw;
      top: 333.333vw;

      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 4.103vw;
      line-height: 117.88%;

      letter-spacing: 0.03em;
    }
    .h23{
      position: absolute;
      width: 342.051vw;
      height: 39.231vw;
      left: 24.103vw;
      top: 461.795vw;

      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 5.128vw;
      line-height: 117.88%;
      letter-spacing: 0.03em;
    }
  .h11{
  position: absolute;
  width: 43.333vw;
  height: 8.205vw;
  left: 28.462vw;
  top: 349.744vw;

  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 6.154vw;
  line-height: 117.88%;

  letter-spacing: 0.03em;
    }
    .h12{
      position: absolute;
      width: 67.692vw;
      height: 8.974vw;
      left: 24.103vw;
      top: 385.128vw;

      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 6.154vw;
      line-height: 117.88%;

      letter-spacing: 0.03em;
    }
    .h13{
      position: absolute;
      width: 94.359vw;
      height: 23.077vw;
      left: 2.821vw;
      top: 412.564vw;

      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 6.154vw;
      line-height: 117.88%;

      text-align: center;
      letter-spacing: 0.03em;
    }
    .email{
      box-sizing: border-box;

      position: absolute;
      width: 23.077vw;
      height: 5.385vw;
      left: 52.051vw;
      top: 41.795vw;

      border: 0.069vw solid #20EB1B;
      border-radius: 13.889vw;
    }
    .email2{
      box-sizing: border-box;

      position: absolute;
      width: 48.205vw;
      height: 9.487vw;
      left: 9.231vw;
      top: 558.718vw;

      border: 0.069vw solid #20EB1B;
      border-radius: 13.889vw;
    }
    .start2{
      position: absolute;
      width: 31.795vw;
      height: 9.487vw;
      left: 58.718vw;
      top: 558.718vw;
      border: 0.069vw solid #20EB1B;
      border-radius: 13.889vw;
    }
    .start{
      box-sizing: border-box;

      position: absolute;
      width: 13.333vw;
      height: 5.385vw;
      left: 75.641vw;
      top: 41.795vw;
    }
    .startwithoutlogin{
      position: absolute;
      width: 36.923vw;
      height: 5.385vw;
      left: 52.051vw;
      top: 48.462vw;

      border: 0.069vw solid #20EB1B;
      border-radius: 13.889vw;
    }
    .brain{
      position: absolute;
      width: 91.282vw;
      height: 78.974vw;
      left: 3.077vw;
      top: 51.026vw;

    }
    .s1{
      position: absolute;
      width: 56.154vw;
      height: 55.897vw;
      left: 22.051vw;
      top: 146.923vw;
    }
    .s2{
      position: absolute;
      width: 56.154vw;
      height: 55.897vw;
      left: 22.051vw;
      top: 235.897vw;
    }
    .text1{
      position: absolute;
      width: 61.282vw;
      height: 25.897vw;
      left: 19.487vw;
      top: 205.128vw;

      background: #000000;
      border: 0.069vw solid #FFFFFF;
      box-shadow: 0vw 0.139vw 0.486vw #20EB1B;
      border-radius: 13.889vw;
    }
    .text2{
      position: absolute;
      width: 61.282vw;
      height: 25.897vw;
      left: 19.487vw;
      top: 294.359vw;

      background: #000000;
      border: 0.069vw solid #FFFFFF;
      box-shadow: 0vw 0.139vw 0.486vw #20EB1B;
      border-radius: 13.889vw;
    }
    .friends{
      height: 82.821vw;
      width: 85.897vw;
      left: 6.667vw;
      top: 473.846vw;


    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone Landscape */
}
