@media only screen and (min-width: 1224px) {
  /* Desktop */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPad */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */
  body{
    overflow-x: hidden;
  }
  header{
    position: fixed;
    width: 100%;
    height: 19.487vw;
    box-shadow: -0.513vw -0.256vw 8.205vw rgba(0, 255, 33, 0.92);
  }
  footer{
    position: relative;
    width: 99%;
    height: 6.319vw;
    top: 246vw;
    border: 0.069vw solid #20EB1B;
    border-radius: 2.5vw;
    }
    button{
      cursor: pointer;
      box-sizing: border-box;
      color: white;
      position: absolute;
      background-color: black;
      border: 0.069vw solid #20EB1B;
      border-radius: 13.889vw;
      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 300;
      font-size: 1.667vw;
      line-height: 2.014vw;
      text-decoration: none;
    }
    input{
      position: absolute;
      width: 90px;
      height: 21px;
      left: 204px;
      top: 156px;

      border: 0.5px solid #20EB1B;
      filter: drop-shadow(0px 2px 7px #20EB1B);
      border-radius: 200px;

    }
    h1{
      position: absolute;
      width: 235px;
      height: 206px;
      left: 19px;
      top: 100px;

      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 117.88%;

      letter-spacing: 0.03em;
    }
    h1{
      color: white;
      position: absolute;
      width: 70.139vw;
      height: 14.306vw;
      margin-left: 4vw;
      top: 7vw;
      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 6.667vw;
      line-height: 117.88%;
      letter-spacing: 0.03em;
    }
    h2{
      position: absolute;
      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 3.819vw;
      line-height: 117.88%;

      letter-spacing: 0.03em;

      background: linear-gradient(90.94deg, #00FF19 11.27%, #FF70DD 36.51%, rgba(180, 235, 255, 0.979006) 60.58%, rgba(5, 0, 255, 0.94) 85.65%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

    }
    p{
     color: white;
     font-family: 'Exo 2';
    }
    ::selection {
        background: #16E52B;
        color: black;
       }
    .logo{
      position: absolute;
      width: 86px;
      height: 23px;
      left: 20px;
      top: 44px;
    }
    .logo2{
      position: absolute;
      width: 38px;
      height: 38px;
      left: 327px;
      top: 2241px;


    }
    .login{
      box-sizing: border-box;

      position: absolute;
      width: 72px;
      height: 24px;
      left: 298px;
      top: 43px;
    }
    .aboutus{
      box-sizing: border-box;

      position: absolute;
      width: 72px;
      height: 24px;
      left: 223px;
      top: 43px;
    }
    .p1{
      position: absolute;
      width: 139px;
      height: 36px;
      left: 20px;
      top: 167px;
      font-weight: 300;
      font-size: 10px;
      line-height: 12px;
      display: flex;
      align-items: center;

    }
    .p2{
      position: absolute;
      width: 242px;
      height: 51px;
      left: 74px;
      top: 1422px;

      font-weight: 500;
      font-size: 12px;
      line-height: 117.88%;

      letter-spacing: 0.03em;

    }
     .p3{
       position: absolute;
       width: 249px;
       height: 43px;
       left: 74px;
       top: 1566px;

       font-family: 'Exo 2';
       font-weight: 500;
       font-size: 12px;
       line-height: 117.88%;

      letter-spacing: 0.03em;
     }
      .p4{
        position: absolute;
        width: 242px;
        height: 49px;
        left: 74px;
        top: 1721px;

        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 117.88%;

        letter-spacing: 0.03em;
      }
    .h21{
      position: absolute;
      width: 1481px;
      height: 33px;
      left: 24px;
      top: 532px;

      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 117.88%;

    letter-spacing: 0.03em;
    }
    .h22{
      position: absolute;
      width: 1481px;
      height: 33px;
      left: 22px;
      top: 1300px;

      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 117.88%;

      letter-spacing: 0.03em;
    }
    .h23{
      position: absolute;
      width: 1334px;
      height: 153px;
      left: 94px;
      top: 1801px;

      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 117.88%;
      letter-spacing: 0.03em;
    }
  .h11{
  position: absolute;
  width: 169px;
  height: 32px;
  left: 111px;
  top: 1364px;

  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 117.88%;

  letter-spacing: 0.03em;
    }
    .h12{
      position: absolute;
      width: 264px;
      height: 35px;
      left: 94px;
      top: 1502px;

      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 117.88%;

      letter-spacing: 0.03em;
    }
    .h13{
      position: absolute;
      width: 368px;
      height: 90px;
      left: 11px;
      top: 1609px;

      font-family: 'Exo 2';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 117.88%;

      text-align: center;
      letter-spacing: 0.03em;
    }
    .email{
      box-sizing: border-box;

      position: absolute;
      width: 90px;
      height: 21px;
      left: 203px;
      top: 163px;

      border: 0.069vw solid #20EB1B;
      border-radius: 13.889vw;
    }
    .email2{
      box-sizing: border-box;

      position: absolute;
      width: 188px;
      height: 37px;
      left: 36px;
      top: 2179px;

      border: 0.069vw solid #20EB1B;
      border-radius: 13.889vw;
    }
    .start2{
      position: absolute;
      width: 124px;
      height: 37px;
      left: 229px;
      top: 2179px;
      border: 0.069vw solid #20EB1B;
      border-radius: 13.889vw;
    }
    .start{
      box-sizing: border-box;

      position: absolute;
      width: 52px;
      height: 21px;
      left: 295px;
      top: 163px;
    }
    .startwithoutlogin{
      position: absolute;
      width: 144px;
      height: 21px;
      left: 203px;
      top: 189px;

      border: 0.069vw solid #20EB1B;
      border-radius: 13.889vw;
    }
    .brain{
      position: absolute;
      width: 356px;
      height: 308px;
      left: 12px;
      top: 199px;

    }
    .s1{
      position: absolute;
      width: 219px;
      height: 218px;
      left: 86px;
      top: 573px;
    }
    .s2{
      position: absolute;
      width: 219px;
      height: 218px;
      left: 86px;
      top: 920px;
    }
    .text1{
      position: absolute;
      width: 239px;
      height: 101px;
      left: 76px;
      top: 800px;

      background: #000000;
      border: 0.069vw solid #FFFFFF;
      box-shadow: 0vw 0.139vw 0.486vw #20EB1B;
      border-radius: 13.889vw;
    }
    .text2{
      position: absolute;
      width: 239px;
      height: 101px;
      left: 76px;
      top: 1148px;

      background: #000000;
      border: 0.069vw solid #FFFFFF;
      box-shadow: 0vw 0.139vw 0.486vw #20EB1B;
      border-radius: 13.889vw;
    }
    .friends{
      height: 323px;
      width: 335px;
      left: 26px;
      top: 1848px;


    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone Landscape */
}
